:root {
	--accent-color:#FAA572;
	--theme-btn-bg-color: #FAA572;
	// --theme-switch-bg-color: rgba(0, 0, 0, 0.85);
	--theme-switch-bg-color: whitesmoke;
	--searchbar-bg-color:#FAA572;
	--searchbar-btn-bg-color:#2e4350;
}
html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}